#range_x, #range_y {
  width: 300px;
  margin: 50px 50px;
}

#resultLog {
  padding: 1px;
  border: 1px dotted #000;
  width: 400px;
  height: 200px;
  overflow-y: scroll;
}

#resultLog .correct {
  color: green;
}

#resultLog .incorrect {
  color: red;
}

#resultLog .skipped {
  color: blue;
}